<mat-form-field class="form-field" [formGroup]="guestGroup">
  <input type="email" matInput placeholder="email" formControlName="guest">
</mat-form-field>
<div class="guest-list">
  <mat-chip-list *ngFor="let guest of guests;let i = index;trackBy: trackByFn">
    <mat-chip [selectable]="selectable" [removable]="removable" (removed)="remove(i)">
      {{guest}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
<button class="add-btn" mat-mini-fab [disabled]="!guestGroup.valid" (click)="addGuest(guestGroup.value)">
  <mat-icon>add</mat-icon>
</button>